body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 70px;
  background-attachment: fixed;
}

.wrapper {
  margin:auto;
  padding:.6em 0em .3em 2.3em;
  background-color: rgba(211,211,211,0.70);
  border-radius: 8px;
  max-width: 31em;
  color: rgb(150,47,47);
  font-family: 'Voltaire', sans-serif;
  font-weight: 300;
}

.translation {
  margin-top:1em;
}

.prev_search{
  margin-top:.5em;
  margin-bottom: .3em;
}

.ming {
  font-family: "Ming Imperial", serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.ming-lg {
  padding: .4em .5em .2em 0em;
  font-size: 60px;
  text-align: center;
}

.ming-sm {
  font-size: 20px;
}

ul li {
  font-size: 18px;
}

#h1 {
  text-align: center;
  padding:0.5em 0 0.4em 0;
  font-size: 85px;
  color: rgba(200,3,3,1);
  font-family: 'Voltaire', sans-serif;
}

#h2 {
  margin-top: -3em;
  font-size: 24px;
  margin-bottom: 0.5em;

}

#h3 {
  font-size: 22px;
}

#h4 {
  font-size: 18px;
  padding: 0em 0em .5em 0em;
}

input {
  margin-top: -0.5px;
  width: 300px;
  height: 30px;
  font-size: 18px;
  padding: 5px;
  font-family: 'Avent Pro', sans-serif;
  font-weight: 300;
  border: 0;
  background-color: rgb(255,255,255);
}

button {
  margin-left: 10px;
  padding: 5px;
  height: 40px;
  width: 70px;
  text-align: center;
  font-family: 'Voltaire', sans-serif;
  font-weight: 300;
  font-size: 19px;
  background-color: rgb(255,255,255);
  border: none;
}

button:hover {
  cursor: pointer;
}

img {
  width: 18px;
  height: 18px;
  padding: 0px 2px 0px 2px;
}

.cherryblossom {
  padding-left: 20em;
  width: 152px;
  height: 176px;
}

.github {
  padding-left: 26.8em;
  padding-top: 0.4em;
  width: 30px;
  height: 30px;
}

#github {
  color: black;
  padding-left: 26.537em;
  margin-top: 1.8em;
}

#github_link {
  display: inline-block;
  height: 0px;
}

.twitter {
  width: 17px;
  height: 17px;
}

.print {
  padding: 0px 0px 0px 0px;
  width: 20px;
  height: 20px;
}
