<!doctype html>
<html lang="en" ng-app="japanesifyApp">
  <head>
    <meta charset="utf-8">
    <title>Japanesify</title>
    <link rel="stylesheet" href="css/reset.css" type="text/css">
    <link rel="stylesheet" href="css/stylesheet.css" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Voltaire&subset=latin" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Aladin" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro:400,100,300" rel="stylesheet" type="text/css">
    <link href="https://s3-us-west-2.amazonaws.com/japanfonts/Ming+Imperial.TTF" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/japanesifyController.js"></script>
    <script src="js/services/translationFactory.js"></script>
    <script src="js/services/japanesifyService.js"></script>
    <script src="js/services/rulesService.js"></script>
    <script src="js/services/conversionConstant.js"></script>
  </head>

  <body background="/images/background.jpg">
    <main>
      <p id='h1'>Japanesify</p>

      <section class="wrapper" ng-controller="japanesifyController as ctrl">
        <p id='github'>GitHub<p>
        <a target="_blank" id="github_link" target="_blank" href="https://github.com/MisaOgura/japanesify.git" /><img src="/images/github-icon.png" alt=""  class="github"/></a>
        <section>
          <p id='h2'>Please enter your name below</p>
          <form>
            <input id="input" type="text" ng-model="name" placeholder="e.g. Misa" autofocus="true">
            <button id="submit" ng-click="ctrl.newTranslation(name)">Convert</button>
          </form>
        </section>

        <section class="translation" ng-show="ctrl.translationObj.japanese">
          <p id='h3'>Your name translates to</p>
          <section>
            <section class="ming ming-lg">
              <span id="translation-main">{{ctrl.translationObj.japanese}}</span>
            </section>
            <a target="_blank" href="http://twitter.com/home?status=This is my name in Japanese: {{ctrl.translationObj.japanese}}" /><img src="/images/twitter-icon.png" alt=""  class="twitter"/></a>
            <a target="_blank" href="https://translate.google.com/#auto/ja/{{ctrl.translationObj.japanese}}"><img src="/images/speaker-icon.png" alt=""/></a>
            <a href="#" ng-click="ctrl.printId('main');"><img src="/images/printer-icon.png" alt="Print your name!" class="print" /></a>
          </section>
        </section>

        <section class="prev_search_box">
          <p id='h4' ng-show="ctrl.translationObj.japanese">Previous searches</p>
          <ul>
            <li ng-repeat="translation in ctrl.allTranslations" class='prev_search_list'>
              {{ translation.romanji.charAt(0).toUpperCase() + translation.romanji.slice(1) }}: <span id="translation-{{$index}}" class="ming ming-sm">{{ translation.japanese }}</span><a class='print_link' href="#" ng-click="ctrl.printId($index);">print</a>
            </li>
          </ul>
        </section>

      </section>
    </main>
  </body>
</html>
