<!doctype html>
<html lang="en" ng-app="japanesifyApp">
  <head>
    <meta charset="utf-8">
    <title>Extras</title>
    <link rel="stylesheet" href="assets/css/reset.css" type="text/css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/japanesifyController.js"></script>
    <script src="js/translationFactory.js"></script>
    <script src="js/japanesifyService.js"></script>
    <script src="js/rulesService.js"></script>
  </head>

  <body>
      <div ng-controller="japanesifyController as ctrl">
        <input id="input" ng-model="name">
        <button id="submit" ng-click="ctrl.newTranslation(name)">Submit</button>
        <h1 class="translation">{{ctrl.translationObj.japanese}}</h1>
        <h2>Previous searches:</h2>
        <ul>
          <li ng-repeat="translation in ctrl.allTranslations">
            {{ translation.romanji }}: <span id="translation-{{$index}}">{{ translation.japanese }}</span>
            <a href="#" ng-click="ctrl.printId($index);">print</a>
          </li>
        </ul>
      </div>

  </body>
</html>
