<div id=”config”>
<!--
<config>
  <formValidator>
    <errors>
      <mandatoryField>
        The above field is mandatory
      </mandatoryField>
      <postalCodeError>
        You did not format the postal code correctly.
      </postalCodeField>
     </errors>
     <alerts>
      <success>
        Your changes have been submitted.
      </success>
     </alerts>
  </formValidator>
</config>
-->
</div>
