body {
  background-image: url("/assets/images/cherryblossom.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(255,243,243);
}

.wrapper {
  margin:auto;
  padding:0.5em;
  background-color: rgba(255,255,255,0.8);
  border-radius: 8px;
  max-width: 31em;
  color: rgb(112,47,47);
  font-family: 'Avent Pro', sans-serif;
  font-weight: 300;

}

.translation {
  margin-top:1em;
}


/* HEADINGS */
h1 {
  text-align: center;
  margin: auto;
  padding:1.5em 0 0.6em 0;
  font-size: 110px;
  text-shadow: 4px 2px #D0A2A2;
  color: rgb(255,255,255);
  font-family: 'Aladin', sans-serif;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
  padding: 5px 0px;
}

/* FORM */

form {
  max-width: 30em;
  padding-top: 1em;
}

input {
  width: 340px;
  height:1.2em;
  font-size: 20px;
  padding: 0.2em 0 0.2 0.3em;
  font-family: 'Avent Pro', sans-serif;
  font-weight: 300;
  border: 0;
  position: inline-block;
  background-color: rgb(255,255,255);
}

button {
  float: right;
  padding: 0.2em 0.2em 0.2em 0.3em;
  height: 1.65em;
  font-family: 'Avent Pro', sans-serif;
  font-weight: 300;
  font-size: 20px;
  position: inline-block;
  background-color: rgb(255,255,255);
  border: none;
}

/* IMAGES */
img {
  width: 12px;
  height: 12px;
}

.print {
  margin-left: 15px;
}
